@using Otomation.Models.Sınıflar
@model List<Admin>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Admin Adı</th>
        <th>Admin Şifresi</th>
        <th>Admin Yetkisi</th>
        <th colspan="2"><a href="/Admin/AdminEkle" class="btn btn-warning"> Yeni Admin Oluştur</a> </th>

    </tr>

    @foreach (var k in Model)
    {
        <tr>
            <td>
                @k.Adminid
            </td>
            <td>
                @k.KullaniciAd
            </td>
            <td>
                @k.Sifre
            </td>
            <td>
                @k.Yetki
            </td>
            <td>
                <a href="/Admin/AdminGetir/@k.Adminid"
                   class="btn btn-primary">Güncelle</a>
            </td>
            <td>
                <a href="/Admin/AdminSil/@k.Adminid"
                   class="btn btn-danger" onclick="silButton()">Sil</a>
            </td>

        </tr>

     }
</table>
